/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.php-cs-fixer.cache
.eslintcache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db

/compose.yaml
/compose.override.yaml
/compose.override.yml
/docker-compose.override.yaml
/docker-compose.override.yml
/.env.sail
/.env.docker
